---
---

{% include reset.css %}

@font-face {
  font-family: "PrintChar21";
  src: url("../fonts/PrintChar21.ttf");
}

@font-face {
  font-family: "AvantGardeGothic-Bold";
  src: url("../fonts/itc-avant-garde-gothic_bold.woff");
}

h1, h2, h3, h4 {
  font-family: AvantGardeGothic-Bold;
  font-weight: 400;
  text-transform: uppercase;
}

code, pre {
  color: #6aa63f;
  font-size: 14px;
  font-family: PrintChar21;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

/**
 * Codeblock.
 */
pre.highlight {
  position: relative;

  // copy code to clipboard
  .copy {
    font-size: 10px;
    font-family: PrintChar21;
    padding: 5px 15px;
    border-style: solid;
    border-color: #6aa63f;
    border-radius: 10px;
    color: #6aa63f;
    position: absolute;
    right: .5rem;
    top: .5rem;
    opacity: 0;

    &:active,
    &:focus,
    &:hover {
      background: white;
      opacity: 1;
    }
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    background: white;
    opacity: 1;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}